NODE_ENV="development"

# Clerk Keys for User Authentication (local keys should have the prefix "pk_test_" and "sk_test_")
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_"
CLERK_SECRET_KEY="sk_test_"
# Clerk Webhook Secret, for handling Clerk events (e.g. user signups -> sync with database)
CLERK_WEBHOOK_SECRET="whsec_"


# Postgres Database Connection, using Vercel's Neon integration
POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NO_SSL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER="default"
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE="verceldb"

# Google Maps API Key and Map ID, for the map component
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
NEXT_PUBLIC_GOOGLE_MAPS_MAP_ID=""

